<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FadingCellLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C069DB701E0630A10009DA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C069DB841E0630A10009DA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C069DB8F1E0630A10009DA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
